@model List<DroneShipper.BusinessFacade.BaseInfo>

@{
    ViewBag.Title = "Bases";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bases</h2>

<div class="panel">
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
        </tr>
        @foreach (var baseInfo in Model) {
            <tr>
                <td>@baseInfo.Id</td>
                <td>@baseInfo.Name</td>
                <td>@baseInfo.Address.Address1, @baseInfo.Address.City, @baseInfo.Address.ZipCode</td>
            </tr>
        }
    </table>
</div>

<a class="btn btn-primary" href="~/Bases/AddBase">Add Base</a>